page-adminhome {
    .toolbar-background{
        background-color: #177ec0;
        color: #ffff;
      }
      .toolbar-title{
        color: #fff;
        font-size: 17px;
        font-weight: 400;
        text-align: center;
      }
      .toolbar{
        min-height: 50px;
      }
      .bar-button-default, .bar-button-clear-default, .bar-button-default {
        color: #ffffff;
        background-color: transparent;
    }
    .bar-button-default:hover, .bar-button-cleardefault:hover, .bar-button-default:hover{
        color: #ffffff !important;
    }
    .searchbar {
        background: #177ec0;
        padding: 8px;
        margin-top: 6px;
    }
    .searchbar .searchbar-input{
        border-radius: 15px !important;
    }
    ion-title{
        position: absolute;
        left: 0px;
        right: 0px;
        top: 12px;
        text-align: center;
      }
}
