page-adminupdatepassword {
    .toolbar-background{
        background-color: #177ec0;
        color:#ffff;
      }
  ion-content{
    background-color: #f6f7fb !important;
  }
      .toolbar-title{
        color: #fff;
      }
    .scroll-content {
        background: #f6f7fb;
    }
    p{
      text-align: center;
        padding: 5px 7%;
        color: #177ec0;
        font-size: 16px;
    }
    input.text-input.text-input{
      border-radius: 8px;
      border: none;
      width: 80%;
      margin: 15px auto;
      display: block;
      height: 40px;
      padding: 7px;
      background: #fff;
    }
    .btn-login{
      background-color: #177ec0;
        width: 80%;
        border-radius: 8px;
        margin: 20% auto;
        height: 40px;
        display: block;
        text-transform: capitalize
    }
    .btn-login:hover{
      background-color: #177ec0 !important;
    }
    button.btn-login.button.button-md.button-default.button-default-md.button-full.button-full-md {
      opacity: 1;
    }
    .bar-button-default-md, .bar-button-clear-md-default, .bar-button-md-default {
        color: #f6f7fb;
        background-color: transparent;
    }
    ion-title{
      position: absolute;
      left: 0px;
      right: 0px;
      top: 12px;
      text-align: center;
    }
}
