page-welcomelogin {
    .padding-amange{
        padding: 15px;
      }
      .imglogo{
        display: block;
        margin: 30% auto;
      }
   
    .btn-sign{
     background-color: transparent;
     border-radius: 0px;
     height: 35px;
     text-transform: uppercase;
     color: #E51C23;
     border:2px solid #478dd2;
     width: 70%;
     margin: 2% auto;
    }
    .btn-sign:hover{
      background: transparent !important;
    }
    ion-title{
      position: absolute;
      left: 0px;
      right: 0px;
      top: 12px;
      text-align: center;
    }
}
