page-adminforgetpassword {
    .toolbar-background-md{
        background-color: #177ec0;
        color: #ffff;
      }
      .toolbar-title-md{
        color: #fff;
        font-size: 17px;
        font-weight: 400;
      }
      .toolbar-md{
        min-height: 50px;
      }
    .img-logo{
        margin: 0 auto;
        display: block;
      }
      input{
        padding: 10px 10px;
        border-radius: 2px;
        border: 1px solid #ccc;
        width: 100%;
        font-size: 13px;
        margin-bottom: 12px;
      }
      .desin1{
        margin-top:60px;
        width: 100%;
      }
      .bar-button-default-md, .bar-button-clear-md-default, .bar-button-md-default {
        color: #ffffff !important;
        background-color: transparent;
    }
    
      .btn-login{
        background-color: #177ec0;
        font-size: 13px;
        text-transform: inherit;
        border-radius: 2px;
        margin: 4% auto;
      }
      ion-title{
        position: absolute;
        left: 0px;
        right: 0px;
        top: 12px;
        text-align: center;
      }
      
}
