page-nursecompleterequest {
    .toolbar-background-md{
        background-color: #177ec0;
        color: #ffff;
      }
      .toolbar-title-md{
        color: #fff;
        font-size: 17px;
        font-weight: 400;
      }
      .toolbar-md{
        min-height: 50px;
      }
      .bar-button-default-md, .bar-button-clear-md-default, .bar-button-md-default {
        color: #ffffff !important;
        background-color: transparent;
    }
    .shidule{
        padding: 10px 0;
        border-bottom: 1px solid #ccc;
      }
      .shidule img{
        width: 79%;
        margin-top: 1px;
      }
      .name1{
        margin: 0;
        font-size: 17px;
        color: #565050;
      }
      .time10{
        margin: 3px 0;
        color: #565050;
        font-size: 13px;
        width: 100%;
        display: flex;
      }
      .cancel-m{
        text-align: center;
      }
      .cancel-m button{
    
        padding: 5px 2px;
        border: 1px solid #1fa5f9;
        border-radius: 30px;
        font-size: 11px;
        color: #1996e4;
        background-color: transparent;
        width: 85%;
        font-weight: 500;
      }
      .padding-manage{
        padding: 3px;
        text-align: left;
      }
      ul {
        padding: 0px;
        margin: 0px 0px 0px 8px;
      
        &.rating li {
          padding: 5px 0px !important;
          background: none;
          color: #ffb400;
          text-align: left;
    
          ion-icon {
            font-size: 14px;
            text-align: left;
          }
        }
      }
      ion-title{
        position: absolute;
        left: 0px;
        right: 0px;
        top: 12px;
        text-align: center;
      }
      .nodata{
        margin-top: 50%;
        display: none;
    }
    .shidule{
      display: none;
    }
}
