page-admininbox {
     .toolbar-background-md{
        background-color: #177ec0;
        color: #ffff;
      }
      .toolbar-title-md{
        color: #fff;
        font-size: 17px;
        font-weight: 400;
        text-align: center;
      }
      .toolbar-md{
        min-height: 50px;
      }
      .bar-button-default-md, .bar-button-clear-md-default, .bar-button-md-default {
        color: #ffffff;
        background-color: transparent;
    }
    .bar-button-default-md:hover, .bar-button-clear-md-default:hover, .bar-button-md-default:hover{
        color: #ffffff !important;
    }
    .searchbar-md {
        background: #177ec0;
        padding: 8px;
        margin-top: 6px;
    }
    .searchbar-md .searchbar-input{
        border-radius: 15px !important;
    }
    ion-title{
        position: absolute;
        left: 0px;
        right: 0px;
        top: 12px;
        text-align: center;
      }
}
