<!--
  Generated template for the AdminloginPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>Admin Login</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
 <img class="img-logo" src="assets/imgs/logo1.jpg">

<ion-row>
<div class="desin1">
  <form [formGroup]="authForm" >
     <div class="errorsText" *ngIf="authForm.controls.email.hasError('required') && authForm.controls.email.touched">
      <p >Required Email</p>
    </div>
     <div class="errorsText" *ngIf="authForm.controls.email.hasError('pattern') && authForm.controls.email.touched">
      <p>Invalid Email</p>
    </div>
    <div>
      <input type="email" formControlName="email"  placeholder="Email Address" />
    </div>

     <div class="errorsText" *ngIf="authForm.controls.password.hasError('required') && authForm.controls.password.touched">
      <p >Required Password</p>
    </div>
     <div class="errorsText" *ngIf="authForm.controls.password.hasError('minlength') && authForm.controls.password.touched">
      <p>Invalid Password</p>
    </div>
    <div >
      <input type="password"  formControlName="password" placeholder="Password" />
    </div>
  </form>
  <div class="text-center">
  <button class="forgot" ion-button (click)="forgotPass()">Forgot password?</button>
  </div>

  <button class="btn-login" ion-button full (click)="onSubmit(authForm.value)">Login</button>
    
  
  <!-- <button class="btn-fb" (click)="facebookLogin()" ion-button full>Login with Facebook </button> -->


</div>
</ion-row>



</ion-content>

